<div class="container">
    <div class="logo-header"> 
        <div class="logo">
            <app-logo></app-logo>
        </div>
        <div class="header">
            <app-header-menu></app-header-menu>
        </div>
    </div>
    <div class="top-header">
        <div class="topcontent">
            <app-top></app-top>
        </div>
    </div>
    <div class ="search"> 
        <!--For search component-->
    </div>
    <div class="main-content">
        <!--For main component-->
    </div>
    <div class ="footer"> 
        <!--For footer component-->
    </div>
</div>